[Unit]
Description=Crypto Market Telegram Bot
After=network.target

[Service]
Type=simple
User=%i
WorkingDirectory=/home/%i/crypto_market_bot
Environment=PYTHONPATH=/home/%i/crypto_market_bot
ExecStart=/home/%i/.pyenv/versions/3.12.7/bin/python3 -m crypto_market_bot.main
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
